body{
	color: white;
	font-size: 2em;
	font-family: Arial;
}

.slide{
	width: 100%;
	margin: 0 auto;
	display: flex;
}

textarea{
	width: 50%;
	max-width: 1000px;
	height: 380px;
	max-height: 750px;
	font-size: 1em!important;
	background: #EFEFEF;
}

.col{
	flex-grow: 1;
}
.flota{
	padding-left: 30px;
}

.el{
	margin-top: 40px;
	width: 220px;
	height: 220px;
	line-height: 220px;
	text-align: center;
	background-color: #700;
	color: #FFF;
}


.element{
	width: 180px;
	height: 180px;
	background-color: purple;
}